/* sets baground color gradient for the blog article page body */
.light {
    background-image:linear-gradient(to left, #743ad5, #3ab1d5);
}

/* sets the styling for the blog header */
h1 {
    display:flex;
    text-align: center;
    margin-left: 25px;
    background-image:linear-gradient(to left,#d5853a, #743ad5 );
    padding: 5px;
    padding-bottom: 25px;
    font-size: 75px;
    text-shadow: 0 1px 0 #3ab1d5, 0 2px 0 #3ab1d5,
    0 3px 0 #3ab1d5, 0 4px 0 #3ab1d5,
    0 5px 0 #3ab1d5, 0 6px 0 #3ab1d5,
    0 7px 0 #3ab1d5, 0 8px 0 #3ab1d5,
    0 9px 0 #3ab1d5, 0 10px 0 #3ab1d5,
    0 11px 0 #3ab1d5, 0 12px 0 #3ab1d5,
    0 20px 30px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 20px;
    border-radius: 20px;
}

/* executes animation on dark mode cursor hover */
 #checkbox-section:hover {
    text-shadow: 0 1px 0 #3ab1d5, 0 2px 0 #3ab1d5,
        0 3px 0 #3ab1d5, 0 4px 0 #3ab1d5,
        0 5px 0 #3ab1d5, 0 6px 0 #3ab1d5,
        0 7px 0 #3ab1d5, 0 8px 0 #3ab1d5,
        0 9px 0 #3ab1d5, 0 10px 0 #3ab1d5,
        0 11px 0 #3ab1d5, 0 12px 0 #3ab1d5,
        0 20px 30px rgba(0, 0, 0, 0.5);
}

/* sets the styling for elements in the header nav section */
nav {
    display: flex;
    justify-content: space-between;
    -webkit-text-fill-color: #ffff;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 3px 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

/* sets the position and styling for dark mode checkbox */
#checkbox-section {
    display: flex;
    align-self: center;
    justify-self: end;
    font-size: 20px;
    margin-left: 65%;
}

/* sets the position for back button in the nav section */
#go-back {
    display: flex;
    justify-self: center; 
}

/* sets the alignment for the main articles */
#blog-post-page {
    display: flex;
    flex-direction: column;
}

/* sets the style for the blog articles */
.blog-article {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-left: 15px;
    background-color: #ffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left,#d5853a, #743ad5 );
    box-shadow: 2px 3px 20px;
}

/* sets the styling for the blog post titles */
.blog-title {
    align-self: start;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #743ad5, #3ab1d5);
    border-top: none;
    border-left: none;
    border-right: none;
}

/* sets the styling for the footer */
footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* applies bolding to spans in the footer */
.bold {
    font-weight: bold;
}

/* dark mode settings */
.dark {
    background-image:linear-gradient(to left,#371a67, #000000 );
    height: 100vh;
}

.dark header {
    background-image:linear-gradient(to right, #221140, #184e5e); 
}

.dark h1 {
    display:flex;
    text-align: center;
    margin-left: 25px;
    background-image:linear-gradient(to right,#3ad566, #4e15b2 );
    padding: 5px;
    padding-bottom: 25px;
    font-size: 75px;
    text-shadow: 0 1px 0 #1ce830, 0 2px 0 #1ce830,
    0 3px 0 #1ce830, 0 4px 0 #1ce830,
    0 5px 0 #1ce830, 0 6px 0 #1ce830,
    0 7px 0 #1ce830, 0 8px 0 #1ce830,
    0 9px 0 #1ce830, 0 10px 0 #1ce830,
    0 11px 0 #1ce830, 0 12px 0 #1ce830,
    0 20px 30px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 20px;
    border-radius: 20px;
}

.dark #checkbox-section:hover {
    text-shadow: 0 1px 0 #1ce830, 0 2px 0 #1ce830,
    0 3px 0 #1ce830, 0 4px 0 #1ce830,
    0 5px 0 #1ce830, 0 6px 0 #1ce830,
    0 7px 0 #1ce830, 0 8px 0 #1ce830,
    0 9px 0 #1ce830, 0 10px 0 #1ce830,
    0 11px 0 #1ce830, 0 12px 0 #1ce830,
    0 20px 30px rgba(0, 0, 0, 0.5);
}

.dark nav {
    display: flex;
    justify-content: space-between;
    -webkit-text-fill-color: rgb(3, 62, 4);
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 3px 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.dark .blog-article {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-left: 15px;
    background-image:linear-gradient(to left, #221140, #184e5e); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left,#d5853a, #743ad5 );
    box-shadow: 2px 3px 20px;
    -webkit-text-fill-color: #ffff;
    /* -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px; */
}

.dark .blog-title {
    -webkit-text-fill-color: #14b324;
}

/* sets the styling for the footer */
.dark footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-fill-color: #14b324;
}



