/* sets header gradient */
.light header {
    background-image:linear-gradient(to left, #743ad5, #3ab1d5); 
}

/*sets webpage background gradient in light mode */
.light {
    background-image:linear-gradient(to left,#d5853a, #743ad5 ); 
    height: 100vh;  
  }

/* sets h1 style */
h1 {
    display:flex;
    text-align: center;
    margin-left: 25px;
    background-image:linear-gradient(to left,#d5853a, #743ad5 );
    padding: 5px;
    padding-bottom: 25px;
    font-size: 75px;
    text-shadow: 0 1px 0 #3ab1d5, 0 2px 0 #3ab1d5,
    0 3px 0 #3ab1d5, 0 4px 0 #3ab1d5,
    0 5px 0 #3ab1d5, 0 6px 0 #3ab1d5,
    0 7px 0 #3ab1d5, 0 8px 0 #3ab1d5,
    0 9px 0 #3ab1d5, 0 10px 0 #3ab1d5,
    0 11px 0 #3ab1d5, 0 12px 0 #3ab1d5,
    0 20px 30px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 20px;
    border-radius: 20px;
}

/* https://www.geeksforgeeks.org/create-a-3d-text-effect-using-html-and-css/ */
 #checkbox-section:hover {
    text-shadow: 0 1px 0 #3ab1d5, 0 2px 0 #3ab1d5,
        0 3px 0 #3ab1d5, 0 4px 0 #3ab1d5,
        0 5px 0 #3ab1d5, 0 6px 0 #3ab1d5,
        0 7px 0 #3ab1d5, 0 8px 0 #3ab1d5,
        0 9px 0 #3ab1d5, 0 10px 0 #3ab1d5,
        0 11px 0 #3ab1d5, 0 12px 0 #3ab1d5,
        0 20px 30px rgba(0, 0, 0, 0.5);
}
/* sets bacground gradient */
/* body {
    background-image:linear-gradient(to left,#d5853a, #743ad5 );    
} */

/* sets additional header settings */
nav {
    display: flex;
    justify-content: space-between;
    -webkit-text-fill-color: #ffff;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 3px 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

/* sets dark mode checkbox location */
#checkbox-section {
    display: flex;
    align-self: center;
    justify-self: end;
    font-size: 20px;
    margin-left: 65%;
    
}

/* sets userform content + image gif */
#landing {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 100px;

 }

 /* sets blog entry form style settings */
#blog-entry-form {
   display:flex;
   flex-direction: column;
   align-items: center;
   -webkit-text-fill-color: #3ab1d5;
   text-shadow: 2px 3px 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

/* sets userform border  */
#form {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #743ad5, #3ab1d5);    
}

/* sets userform border size */
#blog-entry-form {
    display: flex;
    padding: 23px;    
}

/* spacing for the post article button */
#post-button {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 150px;
}

/* sets style for ornimental entry portal gif  */
#entry-portal-image {
    justify-content: center;
    height: 400px;
    width: 500px;
    justify-content: center;
    background-image: url("../images/FractalSkull_2.gif");
    box-shadow: 2px 3px 100px;
    border-radius: 20px;
}

/* Dark Mode settings below */
.dark {
    background-image:linear-gradient(to left,#371a67, #000000 );
    height: 100vh;
  }

.dark header {
    background-image:linear-gradient(to right, #221140, #184e5e); 
}

.dark #body {
    background-image:linear-gradient(to left,#371a67, #000000 );
}

.dark h1 {
    display:flex;
    text-align: center;
    margin-left: 25px;
    background-image:linear-gradient(to right,#3ad566, #4e15b2 );
    padding: 5px;
    padding-bottom: 25px;
    font-size: 75px;
    text-shadow: 0 1px 0 #1ce830, 0 2px 0 #1ce830,
    0 3px 0 #1ce830, 0 4px 0 #1ce830,
    0 5px 0 #1ce830, 0 6px 0 #1ce830,
    0 7px 0 #1ce830, 0 8px 0 #1ce830,
    0 9px 0 #1ce830, 0 10px 0 #1ce830,
    0 11px 0 #1ce830, 0 12px 0 #1ce830,
    0 20px 30px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 20px;
    border-radius: 20px;
}

.dark #checkbox-section:hover {
    text-shadow: 0 1px 0 #1ce830, 0 2px 0 #1ce830,
    0 3px 0 #1ce830, 0 4px 0 #1ce830,
    0 5px 0 #1ce830, 0 6px 0 #1ce830,
    0 7px 0 #1ce830, 0 8px 0 #1ce830,
    0 9px 0 #1ce830, 0 10px 0 #1ce830,
    0 11px 0 #1ce830, 0 12px 0 #1ce830,
    0 20px 30px rgba(0, 0, 0, 0.5);
}

.dark nav {
    display: flex;
    justify-content: space-between;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: #ffff;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 3px 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.dark #blog-entry-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    -webkit-text-fill-color: #1ce830;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 3px 4px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 30px;
     font-weight: bold;
 }